/*@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu:ital@1&display=swap');

/*Variables globales*/

:root {
  --color-1: #F0ECE3;
  --color-2: #DFD3C3;
  --color-3: #d1c0aa;
  --color-4: #A68DAD;
}

/*Fuente de letra general*/

* {
  font-family: 'Lobster', cursive;
}

/*color de fondo*/
body {
  background-color: var(--color-1);
}


h2 {
  font-size: clamp(1.5rem, 0.75rem + 1.33vw, 2.5rem);
  margin: 0.3em 0 0.1em 0;
}

label {
  font-size: 1.3rem
}

p {
  font-size: 1.3rem
}

/* modelo de las cards*/
div.card {
  background-color: var(--color-2);
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 15px #ad3500;
  position: relative;
  transition: all 0.3s ease;
  top: 0;
}


.fila2 {
  padding: 2%;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/*titulo centrado en las cards*/

div.card h2 {
  text-align: center;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid var(--color-4);
}

/*sombra al pasar el mouse por la card */
.card:hover {
  box-shadow: 0px 50px 75px -25px var(--color-4) !important;
  top: -20px !important;
  border: 3px var(--color-4) solid;
}

.plomo {
  color: #646363;
}

.icon {
  font-size: 1.5rem;
  color: #A68DAD;
  padding: 0.5rem;
}