.container_3 {
  display: grid;
  padding-top: 1rem;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem;
  grid-template-areas:
    "music1"
    "video";
}

.music1 {
  grid-area: music1;
  display: inline-flex;
  justify-content: center;
}

.video {
  grid-area: video;
  display: inline-flex;
  justify-content: center;
}

.estilo_audio {
  width: 20rem;
  height: 5rem;
}

div.container_3 audio controls {
  color: var(--color-3);
}

div.container_3 div.music1 p {
  padding-right: 2rem;
  padding-top: 1rem;
}

div.container_3 div.video p {
  padding-top: 1rem;
}

video {
  width: 20rem;
  height: auto;
  border-radius: 1rem;
}

audio::-webkit-media-controls-panel {
  background-color: var(--color-3);
}

audio::-webkit-media-controls-panel:hover {
  background-color: var(--color-4);
}