div.juego table {
  width: 100%;
  border-collapse: separate;
  box-sizing: border-box;
  padding: 2rem 4rem 0rem 4rem;
}

div.juego td {
  font-size: 2rem;
  width: auto;
  height: 100%;
  background-color: var(--color-3);
  border-radius: 0.3rem;
  border-collapse: collapse;
  text-align: center;
}

div.card div.juego label {
  font-size: 1rem;
}

div.juego table label {
  font-size: 3.5rem
}