*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-device-width: 480px) {
    body {
        display: inline-block;
        justify-content: center;

    }

    .container_perfil {
        grid-template-rows: 1.5fr 1fr !important;
    }

    .perfil{
        padding: 3%;
    }

    .card{
        margin: 3%;
    }


    #img_portada {
        width: 100%;
        height: 21rem;
    }

    .imgRedonda {
        width: 10.75rem !important;
        height: 10.75rem !important;
    }

    .superposicion:disabled {
        background: #dddddd;
    }

    div.status {
        text-align: center;
        padding-left: 0rem !important;
        padding-top: 2rem;
    }


    video {
        width: 15rem;
        height: auto;
        border-radius: 1rem;
    }

    .music1 {
        display: inline-block;
    }

    .video {
        display: inline-block;
    }

    .fila2 {
        display: inline-block;
        justify-content: center;
        padding: 0% !important;
    }
    
    .fila1{
        padding: 0% !important;
    }

    .estilo_audio {
        width: 15rem;
        height: 5rem;
    }

    .container_4 {
        text-align: center;
        display: grid;
        padding-top: 1.2rem;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem;
        grid-template-areas:
            "part_form_1"
            "part_form_2";
    }

    div.redes table {
        padding: 0 !important;
        border-spacing: 0.5rem 0.5rem !important;
    }

    div.cont_mapa p {
        margin-top: 0rem;
    }

    .container_2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0rem;
        grid-template-areas:
            "info_personal"
            "cont_mapa";
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1050px) {

    .container_perfil {
        grid-template-rows: 2fr 1fr !important;
    }

    .perfil{
        padding: 3%;
    }

    .card{
        margin: 3%;
    }

    #img_portada {
        width: 100%;
        height: 21rem;
    }

    #img_perfil {
        left: 9rem !important;
    }

    .imgRedonda {
        width: 10.75rem;
        height: 10.75rem;
    }

    div.status {
        text-align: center;
        padding-left: 0rem !important;
        padding-top: 2rem;
    }

    video {
        width: 15rem;
        height: auto;
        border-radius: 1rem;
    }

    .fila2 {
        display: inline-block;
        justify-content: center;
        padding: 0% !important;
    }

    .fila1{
        padding: 0% !important;
    }

    .estilo_audio {
        width: 15rem;
        height: 5rem;
    }

    div.redes table {
        padding: 0 !important;
        border-spacing: 0.5rem 0.5rem !important;
    }

    div.cont_mapa p {
        margin-top: 0rem;
    }

    .container_2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0rem;
        grid-template-areas:
            "info_personal"
            "cont_mapa";
    }

}

@media only screen and (min-device-width: 716px) and (max-device-width: 1050px) {
    .container_perfil {
        grid-template-rows: 2.3fr 1fr !important;
    }
}

/*
@media only screen and (min-device-width: 2000px) and (max-device-width: 3000px) {
    .container {
        display: grid;
        padding: 1rem 2rem;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-gap: 2rem;
        grid-template-areas:
            "perfil info hab"
            "gustos juego mi_form"
      }

      container_2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0rem;
        grid-template-areas:
            "info_personal"
            "cont_mapa";
    }

    #img_perfil {
        left: 15rem;
    }

    div.redes table {
        padding: 0;
        border-spacing: 0.5rem 0.5rem;
      }

    div.cont_mapa p{
        margin-top: 0rem;
    }
}
*/