*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (min-device-width: 71px) and (max-device-width: 480px) {
    .container {
        padding: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
        grid-gap: 2rem;
        grid-template-areas:
            "perfil"
            "info"
            "hab"
            "gustos"
            "juego"
            "mi_form";
    }
    div.redes table {
        padding: 0;
        border-spacing: 0.5rem 0.5rem;
      }

    div.cont_mapa p{
        margin: 0rem;
    }

    div.hab{
        justify-content: center;
    }
      

    .container_2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0rem;
        grid-template-areas:
            "info_personal"
            "cont_mapa";
    }
}


/*desde 1900*/

@media only screen and (min-device-width: 1800px) and (max-device-width: 1900px) {
    .container {
        padding: 5rem 16rem;
    }
}
@media only screen and (min-device-width: 1900px) and (max-device-width: 2000px) {
    .container {
        padding: 5rem 20rem;
    }
}
@media only screen and (min-device-width: 2000px) and (max-device-width: 2100px) {
    .container {
        padding: 5rem 24rem;
    }
}
@media only screen and (min-device-width: 2100px) and (max-device-width: 2200px) {
    .container {
        padding: 5rem 28rem;
    }
}
@media only screen and (min-device-width: 2200px) and (max-device-width: 2300px) {
    .container {
        padding: 5rem 32rem;
    }
}
@media only screen and (min-device-width: 2300px) and (max-device-width: 2400px) {
    .container {
        padding: 5rem 36rem;
    }
}
@media only screen and (min-device-width: 2400px) and (max-device-width: 2500px) {
    .container {
        padding: 5rem 40rem;
    }
}

@media only screen and (min-device-width: 2500px) and (max-device-width: 2600px) {
    .container {
        padding: 5rem 44rem;
    }
}

@media only screen and (min-device-width: 2700px) and (max-device-width: 2800px) {
    .container {
        padding: 5rem 48rem;
    }
}
@media only screen and (min-device-width: 2900px) and (max-device-width: 3000px) {
    .container {
        padding: 5rem 52rem;
    }
}
@media only screen and (min-device-width: 3000px) and (max-device-width: 3100px) {
    .container {
        padding: 5rem 56rem;
    }
}
@media only screen and (min-device-width: 3100px) and (max-device-width: 3200px) {
    .container {
        padding: 5rem 60rem;
    }
}
@media only screen and (min-device-width: 3200px) and (max-device-width: 3300px) {
    .container {
        padding: 5rem 64rem;
    }
}
@media only screen and (min-device-width: 3300px) and (max-device-width: 3400px) {
    .container {
        padding: 5rem 68rem;
    }
}
@media only screen and (min-device-width: 3400px) and (max-device-width: 3500px) {
    .container {
        padding: 5rem 72rem;
    }
}

@media only screen and (min-device-width: 3500px) and (max-device-width: 3600px) {
    .container {
        padding: 5rem 76rem;
    }
}

@media only screen and (min-device-width: 3700px) and (max-device-width: 3800px) {
    .container {
        padding: 5rem 80rem;
    }
}
@media only screen and (min-device-width: 3800px) and (max-device-width: 3900px) {
    .container {
        padding: 5rem 84rem;
    }
}
@media only screen and (min-device-width: 3900px) and (max-device-width: 4000px) {
    .container {
        padding: 5rem 88rem;
    }
}
@media only screen and (min-device-width: 4000px) and (max-device-width: 4100px) {
    .container {
        padding: 5rem 92rem;
    }
}
@media only screen and (min-device-width: 4100px) and (max-device-width: 4200px) {
    .container {
        padding: 5rem 96rem;
    }
}
@media only screen and (min-device-width: 4200px) and (max-device-width: 4300px) {
    .container {
        padding: 5rem 100rem;
    }
}
@media only screen and (min-device-width: 4300px) and (max-device-width: 4400px) {
    .container {
        padding: 5rem 104rem;
    }
}

/*
@media (min-width: 640px) {
    body {
        font-size: 1rem;
    }
}

@media (min-width:960px) {
    body {
        font-size: 0.5rem;
    }
}

@media (min-width:1100px) {
    body {
        font-size: 0.75rem;
    }
}*/