<div class="screen dark-theme">
    <h2 class="page-title">Artists</h2>
    <form action="" class="search">
  
      <mat-form-field appearance="fill">
        <mat-label>Select to artist</mat-label>
        <!--<mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of listArtists" [value]="food.value">
            {{food.label}}
          </mat-option>
        </mat-select>-->
      </mat-form-field>
    </form>
    <div class="list">
      <div class="artist"  *ngFor="let item of listArtists">
        <div class="artist__figure" routerLink="/info-album">
          <img [src]="item.image" alt="">
        </div>
        <div class="artist__name">{{ item.label }}</div>
      </div>
    </div>
    <div class="tabs">
      <button mat-icon-button class="active">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button routerLink="/albums">
        <mat-icon>subscriptions</mat-icon>
      </button>
    </div>
  </div>
  <div class="bg">
    <div class="purple"></div>
    <div class="green"></div>
  </div>
  